.bg-indigo{
  background-color: #303f9f;
}
.text-indigo{
  color: #303f9f;
}
.bg-brown{
  background-color: #8A7063;
}
.text-brown{
  color: #8A7063;
}
.book-link:hover{
  text-decoration: underline;
  color: #303f9f;
}
.page-num:hover{
  text-decoration: underline;
  color: #303f9f;
  cursor: pointer;
}
.page-num{
  font-size: 1.2em;
}


@media(max-width: 1000px){
  .authors-table{
    overflow-x: auto;
  }
  .books-table{
    overflow-x: auto;
  }
  .author-edit{
    margin-bottom: 5px;
  }
  .book-edit{
    margin-bottom: 5px;
  }
}